<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>IntentIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Guttman Drogolin.ttf</string>
		<string>Guttman Vilna-Bold.ttf</string>
		<string>Guttman Drogolin-Bold.ttf</string>
	</array>
</dict>
</plist>
